@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

:root {
  ----default-spacing: 25px;
  ----card-titles-font-size: 18px;
  ----primary-color: white;
  ----secondary-color: hsl(236, 100%, 87%);
  ----cards-max-width: 768px;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: var(----primary-color);
  margin: 0;
}

.header-card {
  position: relative;
  overflow: hidden;
  max-width: var(----cards-max-width);
  min-height: 40px;
  width: 90%;
  background-color: hsl(246, 80%, 60%);
  margin-inline: auto;
  margin-top: var(----default-spacing);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header-card-person {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 10px;
  padding: var(----default-spacing);
  grid-template-areas:
    "header-image header-report"
    "header-image header-name";
}

.header-card-person-img {
  grid-area: header-image;
  height: 75px;
  border: 4px solid white;
  border-radius: 100%;
}

.header-card-person-report {
  grid-area: header-report;
  margin: 0;
  align-self: end;
  font-weight: 400;
  color: var(----secondary-color);
}

.header-card-person-name {
  font-weight: 300;
  grid-area: header-name;
  font-size: 27.5px;
  margin: 0;
  align-self: center;
}

.content-card {
  max-width: var(----cards-max-width);
  width: 90%;
  background-color: hsl(235, 46%, 20%);
  margin-inline: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 30px;
}

.content-card-buttons {
  display: flex;
  justify-content: space-between;
}

.content-card-buttons-button,
.content-card-buttons-button-selected {
  width: min-content;
  padding: 0;
  background: none;
  border: none;
  color: var(----secondary-color);
  font-size: var(----card-titles-font-size);
}

.content-card-buttons-button:hover {
  cursor: pointer;
  color: var(----primary-color);
}

/* Put this below content-card-buttons-button so it has higher specificity*/
.content-card-buttons-button-selected {
  pointer-events: none;
  color: var(----primary-color);
}

.content-card-tracking-time {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: var(----default-spacing);
  grid-template-areas:
    "header dots"
    "current-time prev-time";
}

.content-card-tracking-time-header {
  grid-area: header;
  font-weight: 500;
  margin: 0;
  font-size: var(----card-titles-font-size);
}

.content-card-tracking-time-ellipsis {
  grid-area: dots;
  text-align: end;
  align-self: center;
}

.content-card-tracking-time-current {
  grid-area: current-time;
  margin: 0;
  font-size: 27.5px;
  font-weight: 300;
}

.content-card-tracking-time-previous {
  grid-area: prev-time;
  margin: 0;
  text-align: end;
  /* Does not work if text overflows to next line 
   look into differences between justify-self: end; and text-align: end; */
  align-self: center;
  color: var(----secondary-color);
}

.bg-header-card-work {
  background-color: hsl(15, 100%, 70%);
}

.bg-header-card-play {
  background-color: hsl(195, 74%, 62%);
}

.bg-header-card-study {
  background-color: hsl(348, 100%, 68%);
}

.bg-header-card-exercise {
  background-color: hsl(145, 58%, 55%);
}

.bg-header-card-social {
  background-color: hsl(264, 64%, 52%);
}

.bg-header-card-self-care {
  background-color: hsl(43, 84%, 65%);
}

.header-card-svg {
  position: absolute;
  height: 50px;
  right: 20px;
  top: -5px;
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .header-card-person-name,
  .content-card-tracking-time-current {
    font-size: 48px;
  }

  .dashboard {
    max-width: 1440px;
    width: 90%;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "profile work play study"
      "profile exercise social self-care";
  }

  .profile-section {
    grid-area: profile;
  }

  .profile-card {
    height: 65%;
  }

  .profile-card-content {
    height: 35%;
  }

  .header-card,
  .content-card {
    width: 100%;
    margin: 0;
  }

  .header-card-person {
    grid-template-columns: 100%;
    grid-template-areas:
      "header-image"
      "header-report"
      "header-name";
  }

  .header-card-person-img {
    height: 100px;
    width: 100px;
  }

  .header-card-person-report {
    margin-top: var(----default-spacing);
  }

  .header-card-person-name {
    align-self: start;
  }

  .content-card-buttons {
    height: 100%;
    flex-direction: column;
  }

  .content-card-tracking-time {
    grid-template-columns: 75% 25%;
    grid-template-areas:
      "header dots"
      "current-time current-time"
      "prev-time prev-time";
    row-gap: 20px;
  }

  .content-card-tracking-time-previous {
    text-align: left;
  }
}
